---
active_nav: Gods
sub_nav: Fuvah
---
<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fuvah The Omniscient</title>
	<link rel="stylesheet" href="../scripts/css/gruvbox-theme.css">
	<link href="../scripts/css/3-column-display.css" rel="stylesheet"/>
	<link href="../scripts/css/info-section.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../scripts/css/blurbs-grid.css">

	<style>
		.gods-nav-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

{% include nav.html %}

{% include gods-nav.html %}

<div class="info-section">
	<p>Lo! You've Kowtow'd at the correct place. At last! I, Fuvah, The Omniscient, believe that you should live life with a lust for battle, knowledge and love. I desire Followers who believe this with all of their hearts. If you are of such heart, become one of my Followers - a Fuvite. It is the Fuvites who will rise to greatness whilst the Dark and the Light crush each other." To accept Fuvah, at a square having a <a href="../Locations/ShrineOfFuvah.html">Shrine of Fuvah</a>, issue the FOLLOWW FUVAH order: FF.</p>
</div>

<div class="info-section">
	<h2>Follower of Fuvah</h2>
	<p>&quot;I have given you some of my strength. Persuade your friends to become Fuvites. Together you can rebuild Temples and Sanctify them in my name. I give you the ability to instantly discern another's religion. Should you discover a Tablet of Knowledge, bring it to a Temple of mine. Sometimes I can tip the scales of Battle and Knowledge in your favor. Naturally, Kowtow to me whenever you find one of my shrines. Continued loyalty will gain you the rank of Acolyte. Now go forth and succeed where others fail.&quot; To automatically Kowtow for 4 Action Points whenever you come to a Shrine of Fuvah, issue the KOWTOW KOWTOW order: KK.</p>
</div>

<div class="info-section">
	<h2>Acolyte of Fuvah</h2>
	<p>&quot;I have made you a Fuvite Acolyte. I've expanded one of your abilities - you can now discern what rank of religion another person is (lower ranks, only). Acolytes of Fuvah are known to live long lives. However, should death strike you down, travel (as a Ghost) to a nearby Fuvah Temple and Kowtow. I will restore your life. To advance to the rank of Disciple, you'll need to Kowtow at one of my Temples. I grant the ability to cast spells to my Disciples. Continue forward!&quot;</p>
</div>

<div class="info-section">
	<h2>Disciple of Fuvah</h2>
	<p>Fuvah has granted you the ability to learn and cast magic <a href="../Blurbs/Gods.html">spells</a>. To learn new spells, kowtow at a Fuvah temple for 83 Action Points. Fuvah will give you permanent knowledge of up to nine new spells. To learn more spells, travel to another Fuvah temple and Kowtow again for 83 Action Points. This only works once at each temple - meaning you have to visit more temples to learn a lots of spells. You're also to lead the rebuilding of <a href="../Locations/TempleRuins.html">Temple Ruins</a>. Fuvah will Sanctify rebuilt Temple that are located at least 25 squares from an existing temple of his.</p>
</div>

<div class="info-section">
	<h2>Fuvah Temple</h2>
	<p>Fuvites rebuilt the <a href="../Locations/TempleRuins.html">Temple Ruins</a> that were at this site. Fuvah the Omniscient granted <a href="../Blurbs/CeremonyOfSanctification.html">Sanctification</a> of the Temple in a powerful Ceremony invoked by these Fuvites. Composed of stone and bamboo, this solid structure is marked on all sides with the <a href="../Blurbs/Gods.html">Symbol</a> of Fuvah. Followers of Fuvah will enter the Temple by Kowtowing here. The entrance, a burly-looking door, can only be opened by Fuvites. Acolytes of Fuvah who have brought glory to Fuvah can perform the Disciple Rite. Be worthy! A Kowtow for 63 Action Points attempts this rite.</p>
</div>

<div class="info-section">
	<h2>Fuvah's Quest for Greatness</h2>
	<p>To be elevated to the glorious rank of Fuvah Priest, a Fuvah disciple must gain spells from five Fuvah Temples, bestow any Seventeen religious Talismans to Fuvah Temple Treasure Rooms, kill four acolytes of the major gods (I.e. Shroud, Kabuki), and eradicate a Disciple of any demigod. Upon accomplishing this, arrive at a Fuvah Temple equipped with a Fuvite weapon and Kowtow for 103 Action Points.</p>
</div>

<div class="info-section">
	<h2>Sacrificing to Fuvah</h2>
	<p>Fuvah wants you to progress to the rank of  Disciple. He recognises the problem of getting a follower of another God to stay in one place long enough to kill him. Therefore, as an alternate to killing a follower of another god, Fuvah informs you that by sacrificing three different creatures inside the Inner Sanctum of a temple of his, you can participate in the Disciple rite. A Creature sacrifice at a temple is accomplished by bringing the captured creature to the square having the temple and issuing the TEMPLE SACRIFICE order: TS. It takes 8 Action Points.</p>
</div>

<div class="available-section">
	<h3>Items</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
			<div class="stats-col">Carry</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">318</div>
			<div class="stats-col"><a href="../Blurbs/ShadowSword.html">Shadow Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">322</div>
			<div class="stats-col"><a href="../Blurbs/WoodenFuvahStatue.html">Wooden Fuvah Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">383</div>
			<div class="stats-col"><a href="../Blurbs/GreatFuvahSword.html">Great Fuvah Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">479</div>
			<div class="stats-col"><a href="../Blurbs/AncientWarSword.html">Ancient War Sword</a></div>
			<div class="stats-col">3</div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Creatures</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">180</div>
			<div class="stats-col"><a href="../Blurbs/Tusker.html">Tusker</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">194</div>
			<div class="stats-col"><a href="../Blurbs/KingStag.html">King Stag</a></div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Spells</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">905</div>
			<div class="stats-col"><a href="../Blurbs/DeepShadows.html">Deep Shadows</a></div>
		</div>
	</div>
</div>

</body>
</html>