---
sub_nav: Graggolos
---
<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Graggolos The Ka</title>
	<link rel="stylesheet" href="../scripts/css/gruvbox-theme.css">
	<link href="../scripts/css/3-column-display.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../scripts/css/blurbs-grid.css">

	<style>
		.gods-nav-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

{% include nav.html %}

{% include gods-nav.html %}

<div class="available-section">
	<h3>Items</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
			<div class="stats-col">Carry</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">275</div>
			<div class="stats-col"><a href="../Blurbs/MarbleMallet.html">Marble Mallet</a></div>
			<div class="stats-col">2</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">367</div>
			<div class="stats-col"><a href="../Blurbs/CrimsonChalice.html">Gold Gargoyle Goblet</a></div>
			<div class="stats-col">3</div>
		</div>
		<div class="stats-row">
			<div class="stats-col">445</div>
			<div class="stats-col"><a href="../Blurbs/MudGolemStatue.html">Mud Golem Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">446</div>
			<div class="stats-col"><a href="../Blurbs/StoneGolemStatue.html">Stone Golem Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">447</div>
			<div class="stats-col"><a href="../Blurbs/SilverGolemStatue.html">Silver Golem Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">448</div>
			<div class="stats-col"><a href="../Blurbs/IronGolemStatue.html">Iron Golem Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">449</div>
			<div class="stats-col">Gargoyle Statue</div>
			<div class="stats-col">1</div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Creatures</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">201</div>
			<div class="stats-col"><a href="../Blurbs/Boggler.html">Boggler</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">250</div>
			<div class="stats-col"><a href="../Blurbs/MudGolem.html">Mud Golem</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">251</div>
			<div class="stats-col"><a href="../Blurbs/StoneGolem.html">Stone Golem</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">252</div>
			<div class="stats-col"><a href="../Blurbs/SilverGolem.html">Silver Golem</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">253</div>
			<div class="stats-col"><a href="../Blurbs/IronGolem.html">Iron Golem</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">254</div>
			<div class="stats-col">Gargoyle</div>
		</div>
	</div>
</div>

</body>
</html>