---
active_nav: Gods
sub_nav: Kabuki
---
<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kabuki, God of Light</title>
	<link rel="stylesheet" href="../scripts/css/gruvbox-theme.css">
	<link href="../scripts/css/3-column-display.css" rel="stylesheet"/>
	<link href="../scripts/css/info-section.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../scripts/css/blurbs-grid.css">

	<style>
		.gods-nav-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

{% include nav.html %}

{% include gods-nav.html %}

<div class="info-section">
	<p>Should you be of good heart, kind mind, and driven to protect all that is good, you should become a follower and later, a Disciple of mine. There are many ways you can serve the Light: enlist friends to join the Light, rebuild and sanctify Temples in the name of Kabuki, eradicate the Creatures of <a href="../Items/Shroud.html">Shroud</a>, kill Shroud's followers, become powerful enough to destroy Shroudian Temples, and acquire the Stones of Power. Should you die at the hands of the Dark, I can bring you back to life. Your first step is to issue the FOLLOW LIGHT order: FL. This will tell me that you have made The Choice. Do not be tempted by the dark. The FL order must be issued at a square having a <a href="../Locations/KabukiPrayerStone.html">Kabuki Prayer Stone</a>.</p>
</div>

<div class="info-section">
	<h2>Follower of the Light</h2>
	<p>Because of your acceptance of the Light, our hopes of vanquishing the Dark are much greater! Of high importance is the rebuilding of Temples. You and fellow followers of the light are to rebuild them and sanctify it in the name of <a href="../Items/Kabuki.html">Kabuki</a>. Should you die, I can restore your life at such a Temple. Should you kill a follower of the Dark, visit a Temple of mine and become one of my Disciples. I will grant you the knowledge of magic. Upon encountering a <a href="../Locations/KabukiPrayerStone.html">Kabuki Prayer Stone</a> during your travels, stop and pray. Should you be seriously injured I will restore some of your health. Go now and eradicate the Dark. To automatically Kowtow for 4 Action Points whenever you come upon a Kabuki Prayer Stone issue the KOWTOW KOWTOW Order: KK.</p>
</div>

<div class="info-section">
	<h2>Acolyte of Kabuki</h2>
	<p>You're now an Acolyte of the Light. I give you the ability to discern that a person you meet is one of the Dark. Should your death occur, travel (as a ghost) to a Kabuki Temple and Kowtow there. You'll be restored to life. Should you kill a <a href="../Items/Shroud.html">Follower of the Dark</a>, visit a Temple of mine and become one of my Disciples - I will grant you the knowledge of magic. Go forth and smite the Dark. To automatically attack a person of the Dark issue the standing order Dispatch Dark : DD. Issue it again to cancel it (perhaps when severely injured).</p>
</div>

<div class="info-section">
	<h2>Disciple of Kabuki</h2>
	<p>Kabuki has granted you the ability to learn and cast magic <a href="../Blurbs/Gods.html">spells</a>. To learn new spells, kowtow at a Kabuki temple for 82 Action Points. Kabuki will give you permanent knowledge of up to seven new spells. To learn more spells, travel to another Kabuki temple and Kowtow again for 82 Action Points. This only works once at each temple - meaning you have to visit more temples to learn a lots of spells. You're also to lead the rebuilding of <a href="../Locations/TempleRuins.html">Temple Ruins</a>. Kabuki will Sanctify rebuilt Temple that are located at least 25 squares from an existing temple of his.</p>
</div>

<div class="info-section">
	<h2>Kabuki Temple</h2>
	<p>Industrious, superior Followers of Kabuki rebuilt the <a href="../Locations/TempleRuins.html">Temple Ruins</a> that were at this site. Kabuki, in his infinite wisdom, granted <a href="../Blurbs/CeremonyOfSanctification.html">Sanctification</a> of the Temple in Ceremony invoked by these Followers. Composed of stone and bamboo, this solid structure is marked on all sides with the <a href="../Blurbs/Gods.html">Symbol</a> of Kabuki. Followers of Kabuki will enter the Temple by Kowtowing here. There's only one door and it will open to Followers of Kabuki only. An Acolyte of Kabuki who has killed a follower of the Dark, and wishes to perform the Disciple Rite, should Kowtow here for 62 Action Points.</p>
</div>

<div class="info-section">
	<h2>Kabuki's Quest of Seven</h2>
	<p>A Disciple's Quest of Seven: To gain Spells from Seven Kabuki Temples, to bestow Seven Talismans of Light to Kabuki Temple Treasure Rooms and to kill Seven Acolytes of the Dark. Plus you must kill a Disciple of the Dark. Upon accomplishing this, arrive at a Kabuki Temple equipped with a Weapon of Light and Kowtow for 102 Action Points. You will then be elevated to the exalted rank of Light Priest.</p>
</div>

<div class="info-section">
	<h2>Sacrificing to Kabuki</h2>
	<p>Kabuki wants you to progress to the rank of Disciple. He recognises the problem of getting a Follower of <a href="../Items/Shroud.html">Shroud</a> to stay in one place long enough to kill him. Therefore, as an alternate to killing a follower of Shroud, Kabuki informs you that by sacrificing three different creatures inside the Inner Sanctum of a temple of his, you can participate in the Disciple rite. A Creature sacrifice at a temple is accomplished by bringing the captured creature to the square having the temple and issuing the TEMPLE SACRIFICE order: TS. It takes 8 Action Points.</p>
</div>

<div class="available-section">
	<h3>Items</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
			<div class="stats-col">Carry</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">316</div>
			<div class="stats-col"><a href="../Blurbs/WoodenKabukiStatue.html">Wooden Kabuki Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">317</div>
			<div class="stats-col"><a href="../Blurbs/LightSword.html">Light Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">381</div>
			<div class="stats-col"><a href="../Blurbs/GreatLightSword.html">Great Light Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">477</div>
			<div class="stats-col"><a href="../Blurbs/KingsSword.html">King's Sword</a></div>
			<div class="stats-col">3</div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Creatures</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">132</div>
			<div class="stats-col"><a href="../Blurbs/MyrrhDove.html">Myrrh Dove</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">256</div>
			<div class="stats-col"><a href="../Blurbs/HornedMarshGoat.html">Horned Marsh Goat</a></div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Spells</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">903</div>
			<div class="stats-col"><a href="../Blurbs/BlindingLight.html">Blinding Light</a></div>
		</div>
	</div>
</div>

</body>
</html>