---
active_nav: Gods
sub_nav: Shroud
---
<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shroud The Dark God</title>
	<link rel="stylesheet" href="../scripts/css/gruvbox-theme.css">
	<link href="../scripts/css/3-column-display.css" rel="stylesheet"/>
	<link href="../scripts/css/info-section.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../scripts/css/blurbs-grid.css">

	<style>
		.gods-nav-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

{% include nav.html %}

{% include gods-nav.html %}

<div class="info-section">
	<p>&quot;You are to become one of the Followers of the Dark. I have great need of you. You and my minions will vanquish the Light. I seek those whose mind is evil in intent, ruthless in application, and strong enough to withstand the brightness of the Light. Should your devotion be great, I will give you many powers. From being able to drink foul water to casting great spells of Death. Join me now! I so command!" To do this, issue the FOLLOW DARK order: FD. It must be done at a square having a <a href="../Locations/ShroudObelisk.html">Shroud Obelisk</a>.</p>
</div>

<div class="info-section">
	<h2>Follower of the Dark</h2>
	<p>I have made YOU superior. Now you will urge others to Follow the Dark. Should you come upon <a href="../Locations/TempleRuins.html">Temple Ruins</a>, gather Followers of the Dark and rebuild the Temple. Then Sanctify it in my name. Should you suffer sever injury, Kowtow at an <a href="../Locations/ShroudObelisk.html">Obelisk</a> of mine and I will restore some of your Health. I grant you the ability to recognise fellow members of the Dark. You are instructed to always stop at each Obelisk of mine you come to. Continued loyalty will earn you the rank of Acolyte. Now go forth and spread your Darkness upon the Light.&quot; To automatically Kowtow for 4 Action Points whenever you come upon a Shroud Obelisk, issue the KOWTOW KOWTOW order: KK.</p>
</div>

<div class="info-section">
	<h2>Acolyte of Shroud</h2>
	<p>From this moment on, you're my Acolyte. Upon meeting another you will be able to tell if they follow the Dark. Although unlikely, as acolytes of the dark are very hard to kill, should you die, travel (as a ghost) to one of my Temples and Kowtow there. I will restore you to life so that you can continue the purge of the light. The ability to cast spells will be yours upon becoming one of my disciples. To become a disciple you'll have to kill a <a href="../Items/Kabuki.html">Follower of the Light</a> and then visit one of my Temples for further instruction. Always watch out for the light. Crush them whenever you can!" To automatically attack followers of the Light issue the Dispatch Light order : DL. Issue it again to cancel (perhaps if severely injured).</p>
</div>

<div class="info-section">
	<h2>Disciple of Shroud</h2>
	<p>Shroud has granted you the ability to learn and cast magic <a href="../Blurbs/Gods.html">spells</a>. To learn new spells, kowtow at a Shroud temple for 81 Action Points. Shroud will give you permanent knowledge of up to seven new spells. To learn more spells, travel to another Shroud temple and Kowtow again for 81 Action Points. This only works once at each temple - meaning you have to visit more temples to learn a lots of spells. You're also to lead the rebuilding of <a href="../Locations/TempleRuins.html">Temple Ruins</a>. Shroud will Sanctify rebuilt Temple that are located at least 25 squares from an existing temple of his.</p>
</div>

<div class="info-section">
	<h2>Shroud Temple</h2>
	<p>Stout, muscle-bound Followers of Shroud took the <a href="../Locations/TempleRuins.html">Temple Ruins</a> previously on this site and, with lots of hard work, reconstructed the temple. In a <a href="../Blurbs/CeremonyOfSanctification.html">ceremony of sanctification</a>, Shroud seized this Temple, making it his. Composed of stone and bamboo, this solid structure is marked on all sides with the Symbol of Shroud. Followers of Shroud will enter the Temple by Kowtowing here. There's only one door and it will only open to Followers of Shroud. An Acolyte of Shroud who has killed a Follower of the Light, and wants to perform the Disciple rite, should Kowtow here for 61 Action Points.</p>
</div>

<div class="info-section">
	<h2>Shroud's Quest for Priesthood</h2>
	<p>To be elevated to the exalted rank of Dark Priest, a Shroud Disciple must gain spells from six Shroud Temples, bestow eight talismans of Dark to Shroud Temple Treasure Rooms, kill Seven Acolytes of Light, and kill two Disciples of the Light. Upon accomplishing this, arrive at a Shroud Temple equipped with a Dark Weapon, and Kowtow for 101 Action Points. You shall advance Dark One.</p>
</div>

<div class="info-section">
	<h2>Sacrificing to Shroud</h2>
	<p>Shroud wants you to progress to the rank of	Disciple. He recognises the problem of getting a Follower of <a href="../Items/Kabuki.html">Kabuki</a> to stay in one place long enough to kill him. Therefore, as an alternate to killing a follower of Kabuki, Shroud informs you that by sacrificing three different creatures inside the Inner Sanctum of a temple of his, you can participate in the Disciple rite. A Creature sacrifice at a temple is accomplished by bringing the captured creature to the square having the temple and issuing the TEMPLE SACRIFICE order: TS. It takes 8 Action Points.</p>
</div>

<div class="available-section">
	<h3>Items</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
			<div class="stats-col">Carry</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">59</div>
			<div class="stats-col"><a href="../Blurbs/DarkLance.html">Dark Lance</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">97</div>
			<div class="stats-col">Dark Throwing Star</a></div>
			<div class="stats-col">6</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">319</div>
			<div class="stats-col"><a href="../Blurbs/DarkSword.html">Dark Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">320</div>
			<div class="stats-col"><a href="../Blurbs/WoodenShroudStatue.html">Wooden Shroud Statue</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">369</div>
			<div class="stats-col"><a href="../Blurbs/MantleOfTheDark.html">Mantle of the Dark</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">382</div>
			<div class="stats-col"><a href="../Blurbs/GreatDarkSword.html">Great Dark Sword</a></div>
			<div class="stats-col">1</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">478</div>
			<div class="stats-col"><a href="../Blurbs/ExecutionersBlade.html">Executioner's Blade</a></div>
			<div class="stats-col">1</div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Creatures</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">133</div>
			<div class="stats-col"><a href="../Blurbs/FleshEater.html">Flesh Eater</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">188</div>
		<div class="stats-col"><a href="../Blurbs/Wolfcur.html">Wolfcur</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">314</div>
			<div class="stats-col"><a href="../Blurbs/SlatheringWolfdun.html">Slathering Wolfdun</a></div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Spells</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Spell</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">933</div>
			<div class="stats-col"><a href="../Blurbs/Lightning.html">Lightning</a></div>
		</div>
	</div>
</div>

</body>
</html>