---
active_nav: Gods
sub_nav: Yasmin
---
<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yasmin El Boa</title>
	<link rel="stylesheet" href="../scripts/css/gruvbox-theme.css">
	<link href="../scripts/css/3-column-display.css" rel="stylesheet"/>
	<link href="../scripts/css/info-section.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../scripts/css/blurbs-grid.css">

	<style>
		.gods-nav-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

{% include nav.html %}

{% include gods-nav.html %}

<div class="info-section">
	<p>Snake Demigod Yasmin El Boa appears as a wrinkled, ugly, twisted...hag (but don't EVER say that to her face). But, at times, if you catch her out of the corner of your eye, you swear you see some larger shape, but its not clear if its real, or if the torchlight is playing tricks on you. Yasmin El Boa is consumed by a hatred and fury that has led to wars. Let us rephrase that, she is consumed by a fury that has led to BIG WARS. She is not a happy lady and does not attract those with goodness in their hearts.</p>
</div>

<div class="available-section">
	<h3>Items</h3>
</div>
<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
			<div class="stats-col">Carry</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">298</div>
			<div class="stats-col"><a href="../Blurbs/VoodooSerpentPotion.html">Voodoo Serpent Potion</a></div>
			<div class="stats-col">0</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">351</div>
			<div class="stats-col"><a href="../Blurbs/JadeSnakeRing.html">Jade Snake Ring</a></div>
			<div class="stats-col">*</div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Creatures</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">204</div>
			<div class="stats-col"><a href="../Blurbs/ViperKahn.html">Viperkahn</a></div>
		</div>

		<div class="stats-row">
			<div class="stats-col">260</div>
		<div class="stats-col"><a href="../Blurbs/FourClawedBoa.html">Four-Clawed Boa</a></div>
		</div>
	</div>
</div>

<div class="available-section">
	<h3>Spells</h3>
</div>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">No</div>
			<div class="stats-col">Name</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">966</div>
			<div class="stats-col"><a href="../Blurbs/VenomStrike.html">Venom Strike</a></div>
		</div>
	</div>
</div>

</body>
</html>