<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/scripts/css/gruvbox-theme.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/scripts/css/3-column-display.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/scripts/css/info-section.css">
</head>

<body>

{% include nav.html %}

<header>
	<h1>{{ page.title }}</h1>
</header>

<div class="spell-stats">
	<div class="stats-list">
		<div class="stats-header">
			<div class="stats-col">ID</div>
			<div class="stats-col">Item(s)</div>
		</div>

		<div class="stats-row">
			<div class="stats-col">{{ page.plant_id }}</div>
			<div class="stats-col">
				{% for item in page.items %}
				<a href="{{ site.baseurl }}/{{ item.url }}">{{ item.name }}</a>{% unless forloop.last %}<br>{% endunless %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="info-section">
	<p>{{ page.blurb }}</p>
	{{ content }}
</div>

</body>
</html>
